/*************************************************************** Common CSS ***********************************************************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/*************************************************************** Navbar CSS ***********************************************************/
.container{
  padding: 0.5rem 0rem;
}
.navbar-brand{
font-size: 2rem;
}
.navbar-nav>li{
font-size: 1.5rem;
padding-right: 3rem;
}s
/* .nav-item>a{
  margin-left: 1.5rem;
}
.nav-item>a:hover {
  color: aqua;
} */
/**************************************************************** Home CSS ************************************************************/

/*************************************************************** About CSS ************************************************************/

/************************************************************* Serviece CSS ***********************************************************/

/************************************************************* Contact CSS ************************************************************/